<a href="https://colab.research.google.com/github/tonchan1216/bitbot/blob/master/get_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 6.9 MB/s
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.7.1 yfinance-0.1.67

In [13]:
import pandas as pd
from datetime import datetime
import requests,time
from google.colab import drive
import copy

drive.mount('/content/drive/')
exp_dir = 'Colab Notebooks/'
csv_path2 = '/content/drive/My Drive/' + exp_dir + 'btc_train.csv'
csv_path3 = '/content/drive/My Drive/' + exp_dir + 'btc_test.csv'

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [14]:
def get_OHLC(before,after):
    duration = 86400
    url = 'https://api.cryptowat.ch/markets/bitflyer/btcjpy/ohlc'
    query = {
        'periods':duration,
        'before': get_UTC(before),
        'after': get_UTC(after),
        }
    res = requests.get(url,params=query).json()
    if ('error' in res):
        raise Exception(res['error'])

    Time,Open,High,Low,Close,Volume = [],[],[],[],[],[]
    for i in res['result'][str(duration)]:
        Time.append(datetime.fromtimestamp(i[0]).strftime('%Y-%m-%d'))
        Open.append(i[1])
        High.append(i[2])
        Low.append(i[3])
        Close.append(i[4])
        Volume.append(i[5])

    return pd.DataFrame(
        {'Date':Time, 'BTC':Close})

def get_UTC(dt):
    return int(datetime.strptime(dt, '%Y-%m-%d %H:%M %z').timestamp())

# trainデータ構築

In [15]:
df2 = get_OHLC('2017-12-31 12:00 +0900', '2015-1-01 12:00 +0900')
df2 = df2.set_index('Date')
df2.to_csv(csv_path2)
df2

                BTC
Date
2015-06-26    32000
2015-06-27    31700
2015-06-28    31000
2015-06-29    30870
2015-06-30    31550
...             ...
2017-12-27  1829900
2017-12-28  1793400
2017-12-29  1696730
2017-12-30  1725360
2017-12-31  1536370

[919 rows x 1 columns]

# testデータ構築

In [16]:
df3 = get_OHLC('2021-12-30 12:00 +0900', '2017-1-01 12:00 +0900')
df3 = df3.set_index('Date')
df3.to_csv(csv_path3)
df3

                BTC
Date
2017-01-02   120750
2017-01-03   122408
2017-01-04   123138
2017-01-05   143743
2017-01-06   118936
...             ...
2021-12-26  5768595
2021-12-27  5808996
2021-12-28  5820883
2021-12-29  5456831
2021-12-30  5343060

[1824 rows x 1 columns]